<?xml version="1.0" ?>

<launch>

	<!-- Start Google Cartographer node with custom configuration file-->
	<node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args=" 
		-configuration_directory $(find tortoisebotpromax_firmware)/config 
		-configuration_basename lidar.lua" 
	      output="screen">
	</node>
	
	<!-- Publsih Odometry on /odom topic  -->
	<node name="odom_publisher" pkg="tortoisebotpromax_firmware" type="odom_pub.py" output="screen"/> 
 
</launch>
