<?xml version="1.0" ?>

<launch>

	<arg name="x_pos" default="0.0"/>
	<arg name="y_pos" default="0.0"/>
	<arg name="z_pos" default="0.05"/>

	<param command="$(find xacro)/xacro $(find tortoisebotpromax_description)/urdf/tortoisebotpromax.xacro" name="robot_description"/>

	<node args="-param robot_description -urdf -model tortoisebotpromax -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) " name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find tortoisebotpromax_gazebo)/worlds/traffic_iisc_env.world"/>  
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
		<arg name="verbose" value="true"/>
	</include>

	<!-- <include file="$(find tortoisebotpromax_gazebo)/launch/tortoisebotpromax_laser.launch"/> -->

</launch>
